web/WEB-INF/wsdl/localhost_8080/EdmonServices/servidor.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="getusuario" type="tns:getusuario" />

<xs:element name="getusuarioResponse" type="tns:getusuarioResponse" />

<xs:complexType name="getusuario">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getusuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>