src/conf/xml-resources/web-service-references/servidor/wsdl/localhost_8080/EdmonServices/servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/EdmonServices/servidor?xsd=1" />
</xsd:schema>
</types>
<message name="getproyecto">
<part name="parameters" element="tns:getproyecto" />
</message>
<message name="getproyectoResponse">
<part name="parameters" element="tns:getproyectoResponse" />
</message>
<message name="getusuario">
<part name="parameters" element="tns:getusuario" />
</message>
<message name="getusuarioResponse">
<part name="parameters" element="tns:getusuarioResponse" />
</message>
<message name="getcorreo">
<part name="parameters" element="tns:getcorreo" />
</message>
<message name="getcorreoResponse">
<part name="parameters" element="tns:getcorreoResponse" />
</message>
<portType name="servidor">
<operation name="getproyecto">
<input wsam:Action="http://Servicios/servidor/getproyectoRequest" message="tns:getproyecto" />
<output wsam:Action="http://Servicios/servidor/getproyectoResponse" message="tns:getproyectoResponse" />
</operation>
<operation name="getusuario">
<input wsam:Action="http://Servicios/servidor/getusuarioRequest" message="tns:getusuario" />
<output wsam:Action="http://Servicios/servidor/getusuarioResponse" message="tns:getusuarioResponse" />
</operation>
<operation name="getcorreo">
<input wsam:Action="http://Servicios/servidor/getcorreoRequest" message="tns:getcorreo" />
<output wsam:Action="http://Servicios/servidor/getcorreoResponse" message="tns:getcorreoResponse" />
</operation>
</portType>
<binding name="servidorPortBinding" type="tns:servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getproyecto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getusuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getcorreo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="servidor">
<port name="servidorPort" binding="tns:servidorPortBinding">
<soap:address location="http://localhost:8080/EdmonServices/servidor" />
</port>
</service>
</definitions>